@inherits DefaultComponent

<div class="flex @_internalClassName @ClassName" style="@Style">
    @ChildContent
</div>

@code {
    private string _internalClassName = null!;

    protected override void OnParametersSet()
    {
        _internalClassName = Horizontal == true ? "flex-row" : "flex-col";
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool? Horizontal { get; set; }

}